::-webkit-scrollbar {
    display: none;
    transition: all 500ms;
}

html {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0;
}

#chats {
    overflow-y: auto;
    position: absolute;
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 140px);
}

.myChats {
    height: auto;
    width: auto;
    font-size: 16px;
    padding: 10px;
    border-radius: 18px;
    background: white;
    color: var(--siteColor);
    position: absolute;
    right: 0px;
    font-family: "hmfs";
    font-weight: 900;
    line-height: 21px;
    max-width: 90%;
    transition: all 500ms;
    opacity: 0;
}
.urChats {
    height: auto;
    width: auto;
    font-size: 16px;
    padding: 10px;
    border-radius: 18px;
    background: white;
    color: #282828;
    position: absolute;
    left: 0px;
    font-family: "hmfs", '굴림';
    font-weight: 900;
    line-height: 21px;
    max-width: 90%;
    transition: all 500ms;
    opacity: 0;
}

#realInput {
    border: 0;
    background: #00000000;
    display: none;
    position: absolute; left: 50%; top: 50%; transform: translate(calc(-50% - 50px), calc(-50%));
    height: 25px;
    width: calc(100% - 250px);
    z-index: -1;
    font-size: 25px;
    padding: 17px;
    font-family: 'hmf', '굴림';
    color: #282828;
    transition: all 300ms;
}

.imgMsg {
    border-radius: 18px;
    width: 300px;
}